<main class="register">
  <section id="register">
    <div class="form">
      <h2>Register</h2>
      <form class="login-form" [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
        
        <input type="email" id="register-email" placeholder="email" formControlName="email" />
        <div *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</div>
        <div *ngIf="registerForm.get('email')?.hasError('pattern')">Invalid email format.</div>

      
        <input type="password" id="register-password" placeholder="password" formControlName="password" />
        <div *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 5 characters.</div>

        
        <input type="password" id="repeat-password" placeholder="repeat password" formControlName="passwordRepeat" />
        <div *ngIf="registerForm.get('passwordRepeat')?.hasError('required')">Confirm Password is required.</div>

        <button type="submit" [disabled]="!registerForm.valid">Register</button>
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
        <p class="message">
          Already registered? <a href="/login">Login</a>
        </p>
      </form>
    </div>
  </section>
</main>
