<main class="create">
  <section id="create">
    <div class="form">
      <h2>Add item</h2>
      <form class="create-form" [formGroup]="addItemForm" (ngSubmit)="handleSubmit()">
        <input type="text" name="name" id="name" placeholder="Name" formControlName="name" required />
        <div *ngIf="addItemForm.get('name')?.hasError('required')">Name is required.</div>
        <div *ngIf="addItemForm.get('name')?.hasError('minlength')">Name must be at least 2 characters.</div>
        <input type="text" name="date" id="date" placeholder="Date example:2023-12-21" formControlName="date"
          required />
          <div *ngIf="addItemForm.get('date')?.hasError('required')">Date is required.</div>
        <input type="text" name="type" id="type" placeholder="type" formControlName="type" required />
        <div *ngIf="addItemForm.get('type')?.hasError('required')">Type is required.</div>
        <div *ngIf="addItemForm.get('type')?.hasError('minlength')">Type must be at least 3 characters.</div>
        <input type="text" name="imageUrl" id="food-img" placeholder="Image url" formControlName="imageUrl" required />
        <div *ngIf="addItemForm.get('imageUrl')?.hasError('required')">Image url is required.</div>
        <div *ngIf="addItemForm.get('imageUrl')?.hasError('pattern')">Invalid url format.</div>
        <input type="text" name="calories" id="calories" placeholder="Calories" formControlName="calories" required />
        <div *ngIf="addItemForm.get('calories')?.hasError('required')">Calories is required.</div>
        <div *ngIf="addItemForm.get('calories')?.hasError('min')">Calories must be positive number.</div>
        <textarea id="description" placeholder="Description..." name="description" formControlName="description"
          required></textarea>
          <div *ngIf="addItemForm.get('description')?.hasError('required')">Description is required.</div>
          <div *ngIf="addItemForm.get('description')?.hasError('minlength')">Description must be at least 5 characters.</div>
          <div *ngIf="addItemForm.get('description')?.hasError('maxlength')">Description must be no more than 50 characters.</div>
        <button type="submit" [disabled]="!addItemForm.valid">Post</button>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </form>
    </div>
  </section>
</main>