<main class="details">
    <!-- Details page -->
    <section id="details">
        <div id="details-wrapper">
            
            <div id="img-wrapper">
                <img [src]="item?.imageUrl" />
            </div>
            <div id="info-wrapper">
                <table>
                    <tr>
                        <td>
                            <p id="details-name">Name: {{ item?.name }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Use Before: <span id="details-date">{{ item?.date | date:'yyyy-MM-dd' }}</span>
                            </p>
                        </td>
                    </tr>
                        <tr>
                            <td>
                                <p>Type: <span id="details-type">{{ item?.type }}</span></p>
                            </td>
                        </tr>
                   
                    <tr>
                        <td>
                            <p>Calories: <span id="details-calories">{{ item?.calories }}</span></p>
                        </td>
                    </tr>
                </table>
                <p>Description: <span id="details-description">{{ item?.description }}</span></p>
            </div>

            <!-- Edit and Delete are only for creator -->
            <div id="action-buttons">
                <ng-container *ngIf="authenticated; else notAuthenticated">
                    <ng-container *ngIf="isOwner">
                        <a [routerLink]="['/dashboard', item._id, 'edit']" id="edit-btn">Edit</a>
                        <a href="javascript:void(0)" id="delete-btn" (click)="handleDelete()">Delete</a>
                    </ng-container>
                    <ng-template #notOwner>
                        <p>You do not have permission to edit or delete this item.</p>
                    </ng-template>
                </ng-container>
                <ng-template #notAuthenticated>
                    
                </ng-template>
            </div>
        </div>
    </section>
</main>
